name: octopii_provier_app
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 3.0.2+2

environment:
  sdk: ^3.6.0

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

  #Statemanagement
  flutter_hooks: ^0.20.5

  #Statemanagement and trigger obeservers bloc
  flutter_bloc: ^8.1.6

  # internationalizing and localization
  # dart run easy_localization:generate --source-dir ./assets/translations -O lib/gen
  # dart run easy_localization:generate -S assets/translations -f keys -O lib/gen -o locale_keys.g.dart
  easy_localization: ^3.0.7

  #adapting screen and font size
  flutter_screenutil: ^5.9.3

  # A package for creating dynamic forms in your Flutter app.
  # flutter_form_builder: ^9.5.0

  # widget can help you bring simple yet beautiful skeleton loaders
  shimmer_animation: ^2.2.1

  # Dependency Injection service locator
  get_it: ^8.0.2

  # Used to make HTTP requests
  dio: ^5.7.0

  # Dio interceptor that logs network calls in a pretty, easy to read format
  pretty_dio_logger: ^1.4.0

  #Loading animation
  flutter_spinkit: ^5.2.1

  #Load configuration at runtime from a .env file which can be used throughout the application
  flutter_dotenv: ^5.2.1

  # extensible logger which prints beautiful logs.
  logger: ^2.5.0

  # for splash screen
  flutter_native_splash: ^2.4.3

  # toast notifications
  toastification: ^2.3.0

  # An SVG rendering
  flutter_svg: ^2.0.16

  # load and cache network images. Can also be used with placeholder and error widgets.
  cached_network_image: ^3.4.1

  # Easily create toast messages
  fluttertoast: ^8.2.8

  # Render After Effects animations natively on Flutter
  lottie: ^3.1.3

  # Annotations for the freezed code-generator. This package does nothing without freezed too.
  freezed_annotation: ^2.4.4

  # Classes and helper functions that support JSON code generation via the `json_serializable` package
  json_annotation: ^4.9.0

  # Automatically generate code for converting to and from JSON by annotating Dart classes.
  json_serializable: ^6.9.0

  # Code generation for immutable classes that has a simple syntax/API without compromising on the features.
  freezed: ^2.5.7

  # A simple and customizable package for inputting phone number in intl / international format uses Google's libphonenumber
  # intl_phone_number_input: ^0.7.4

  # A package which will help you to generate pin code fields. Can be useful for OTP
  pin_code_fields: ^8.0.1

  # Contains code to deal with internationalized/localized messages,
  # intl: ^0.19.0

  # A widget provided to the flutter scroll component drop-down refresh and pull up load
  pull_to_refresh: ^2.0.0

  # Customizable animated dots indicator with a set of built-in effects
  dots_indicator: ^3.0.0

  # reading and writing simple key-value pairs
  shared_preferences: ^2.3.4

  # Customizable animated page indicator with a set of built-in effects
  smooth_page_indicator: ^1.2.0+3

  flutter_launcher_icons: ^0.14.2

  # store data in secure storage
  flutter_secure_storage: ^9.2.3

  # aunching a URL. Supports web, phone, SMS, and email schemes
  url_launcher: ^6.3.1

  # A package that extends IndexedStack to allow for lazy loading.
  lazy_load_indexed_stack: ^1.1.0

  # A Flutter package for caching SVG images.
  cached_network_svg_image: ^1.2.0
  firebase_core: ^3.12.1
  flutter_local_notifications: ^19.0.0
  firebase_messaging: ^15.2.4

dev_dependencies:
  # Build Runner is a package that provides a concrete way of generating files using Dart code, outside of tools like pub and the Dart VM.
  # Use the below command to generate files:
  # `dart run build_runner build --delete-conflicting-outputs`
  build_runner: ^2.4.13

  # generator for your assets, fonts, colors
  flutter_gen_runner: ^5.8.0

  # Extension for Hive. Automatically generates TypeAdapters to store any class.
  # hive_generator: ^2.0.1

  flutter_lints: ^5.0.0

  # Lint rules for Dart and Flutter used internally at Very Good Ventures.
  very_good_analysis: ^7.0.0

  # Change App Package Name with single command
  # dart run change_app_package_name:main com.new.package.name
  change_app_package_name: ^1.4.0

  flutter_test:
    sdk: flutter
  flutter_form_builder: ^10.2.0

flutter_gen:
  output: lib/gen
  line_length: 50

  integrations:
    flutter_svg: true
    lottie: true

  assets:
    enabled: true

    outputs:
      class_name: MyAssets

  fonts:
    enabled: true
    outputs:
      class_name: MyFontFamily

flutter:

  uses-material-design: true
  assets:
    - assets/translations/ar-EG.json
    - assets/translations/en-US.json
    - assets/icons/
    - assets/images/
    - assets/logos/
    # - assets/lottie/
    - .env


  fonts:
    - family: WorkSans
      fonts:
        - asset: assets/fonts/Futura-Bold.ttf
          weight: 700
        - asset: assets/fonts/futura-medium.ttf
          weight: 600
        - asset: assets/fonts/futura-medium.ttf
          weight: 500
        - asset: assets/fonts/futur-regular.ttf
          weight: 400
        - asset: assets/fonts/Futura-Light.ttf
          weight: 300
    - family: Poppins
      fonts:
        - asset: assets/fonts/Cairo-Bold.ttf
          weight: 700
        - asset: assets/fonts/Cairo-SemiBold.ttf 
          weight: 600
        - asset: assets/fonts/Cairo-Medium.ttf
          weight: 500
        - asset: assets/fonts/Cairo-Regular.ttf
          weight: 400
        - asset: assets/fonts/Cairo-Light.ttf
          weight: 300
